@charset "UTF-8";

* {
    margin:  0;
    border:  0;
    padding: 0;
    outline: 0;

    list-style:      none;
    text-decoration: none;
    text-rendering:  optimizeLegibility;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-font-smoothing: subpixel-antialiased;
       -moz-font-smoothing: subpixel-antialiased;
        -ms-font-smoothing: subpixel-antialiased;
         -o-font-smoothing: subpixel-antialiased;

    -webkit-user-select: none;
      -webkit-user-drag: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

:root {
    --accent: crimson;
    --bg: #0f0f12;
    --done: #37eb94;
    --undone: #ff1b91;
}

body {
    background-color: var(--bg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23585858' fill-opacity='0.05'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 100vh;
    overflow: hidden;
}

::selection {
    background: none;
}

#tabs,
#links,
#todo,
#todo .add,
#todo::after,
#todo .addTodo,
#panels .links,
.items item::before,
.items item::after,
#tabs ul li:last-child,
#panels, #panels ul,
#tabs .widgets {
    position: absolute;
}

#todo {
    right: 0;
    width: 350px;
    height: 100%;
}

#todo::after {
    content: '';
    display: block;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 4;
}

#todo .items h1 {
    font-weight: 100;
    font-size: 24pt;
    color: rgba(255, 255, 255, .1);
    text-align: center;
    margin: 0 0 1.5em 0;
}

#todo .add {
    top: 30px;
    left: -25px;
    outline: 0;
    border: 0;
    border-radius: 50%;
    background: linear-gradient(to bottom, #fff, #d0d0d0);
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .15), 0 0 0 11px rgba(255, 255, 255, .05);
    transition: transform .2s, box-shadow .2s ease-in-out;
}

#todo .add.active {
    transform: rotateZ(45deg);
    background: linear-gradient(to bottom, #fff, #ffcaca);
}

#todo .add:hover {
    box-shadow: none;
    transform: scale(1.15);
}

#todo .add.active:hover {
    transform: scale(1.15) rotateZ(45deg);
}

.items {
    background: var(--bg);
    padding: 1em;
    box-sizing: border-box;
}

.items item[done] { --state: var(--done); }
.items item[undone] { --state: var(--undone); }

.items item {
    position: relative;
    width: 100%;
    padding: 1em 0 .5em 1em;
    max-height: 100px;
    border-radius: 2px;
    background: #18181d;
    box-shadow: inset 0 2px 0 var(--state),
    0 1px 0 0 rgba(0, 0, 0, .5),
    0 4px 0 0 #18181d,
    0 5px 0 rgba(0, 0, 0, .5),
    0 8px 0 0 #18181d;
    transition: all .3s;
    animation: slide .4s ease;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.items item.remove {
    margin: -100% 0 0 0 !important;
    opacity: 0;
}

.items item p:not(.added-at) {
    color: #e8e8e8;
    font: 400 14px 'Roboto', sans-serif;
    max-width: 250px;
    word-wrap: break-word;

    -webkit-user-select: initial;
}

.items item:not(:last-child) {
    margin: 0 0 1em 0;
}

.items item::before {
    content: '';
    display: block;
    background: var(--bg);
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: -22px;
    width: 12px;
    height: 12px;
    box-shadow: 0 0 0 3px var(--state);
    z-index: 5;
    cursor: pointer;
    transition: transform .3s, background .3s;
}

.items item[done]::before {
    content: '\E876';
    color: var(--state);
    font-family: 'Material Icons';
    text-align: center;
    font-size: 11px;
}

.items item::after {
    content: '';
    display: block;
    left: -16px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
    width: 1px;
    background: var(--state);
    transition: all .5s;
    opacity: .5;
}

.items item:hover::before {
    transform: scale(1.4);
}

.items item:hover::after {
    height: 0;
}

.items item:hover span {
    color: var(--state) !important;
}

.items item .added-at {
    font-size: 11px;
    letter-spacing: .5px;
    color: #929292;
    font-weight: 400;
}

.items item .added-at span {
    color: #fff;
    font-weight: 700 !important;
    transition: color .2s;
}

.items item rows {
    height: 100%;
}

.items item .close {
    right: 20px;
    margin: .3em 0 0 0;
    width: 9px;
    height: 9px;
    background: url("../img/close.png") center no-repeat;
    outline: 0;
    border: 0;
    opacity: 0;
    cursor: pointer;
    transition: all .3s;
}

.items item:hover .close {
    opacity: .5;
}

.items item .close:hover {
    opacity: 1;
    transform: scale(1.2);
}

#links {
    left: 0;
    width: calc(100% - 350px);
    height: 100%;
}

#links .nav {
    color: #fff;
}

#todo .addTodo {
    width: 100%;
    height: 100px;
    top: -110px;
    background: var(--bg);
    transition: top .5s;
    z-index: 1;
}

#todo .addTodo input[type="text"] {
    background: 0;
    outline: 0;
    border: 0;
    box-shadow: inset 0 -1px 0 #fff;
    padding: .5em 0;
    width: 70%;
    color: #fff;
    font: 400 15px 'Roboto', sans-serif;
}

#todo .addTodo.active {
    top: 0;
}

#todo .addTodo input:focus {
    box-shadow: inset 0 -2px 0 #fff;
}


#tabs {
    bottom: 0;
    width: 90%;
    height: 32px;
    background: #18181d;
    margin: 2.5em auto;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
    overflow: hidden;
}

#tabs ul {
    counter-reset: tabs;
    margin: 0 0 0 1.5em;
    height: 100%;
    position: relative;
}

#tabs ul li:not(:last-child)::after {
    content: counter(tabs, upper-roman);
    counter-increment: tabs;
    display: block;
}

#tabs ul li:not(:last-child) {
    width: 35px;
    text-align: center;
    font: 400 13px 'Roboto', serif;
    color: #bbb;
    padding: 6px 0;
    transition: all .1s;
}

#tabs ul li:last-child {
    --flavour: var(--accent);
    width: 35px;
    height: 3px;
    background: var(--flavour);
    bottom: 0;
    transition: all .1s;
}

#tabs ul li[active]:not(:last-child) {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    padding: 6px 0;
}

#tabs ul li[active]:nth-child(2) ~ li:last-child { margin: 0 0 0 35px; }
#tabs ul li[active]:nth-child(3) ~ li:last-child { margin: 0 0 0 70px; }

#panels {
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    width: 90%;
    height: 450px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background: #18181d;
}

#panels ul {
    --panelbg: transparent;
    --flavour: var(--accent);
    width: 100%;
    height: 100%;
    right: 100%;
    background: #fff url("../img/bg-1.gif") repeat center left fixed;
    transition: all .6s;
}

#panels ul:nth-child(2),
#tabs ul li[active]:nth-child(2) ~ li:last-child {
    --flavour: #16a2a2;
}

#panels ul:nth-child(3),
#tabs ul li[active]:nth-child(3) ~ li:last-child {
    --flavour: #5b52e4;
}

#panels ul .links {
    box-shadow: inset -1px 0 var(--flavour);
}

#panels ul:nth-child(2) { background: #fff url("../img/bg-2.gif") repeat center left fixed; }
#panels ul:nth-child(3) { background: #fff url("../img/bg-3.gif") repeat center left fixed; }

#panels ul[active] {
    right: 0;
    z-index: 1;
}

#tabs .widgets {
    right: 0;
    margin: auto;
    height: 100%;
    padding: 0 2em;
    color: #fff;
    font-size: 12px;
    background: #1d1d21;
}

#tabs > cols {
    position: relative;
}

#tabs .time {
    font-weight: 700;
    margin-right: 1em;
}

#tabs .time span {
    font-weight: 400;
    color: grey;
}

#tabs .weather {
    box-shadow: inset 1px 0 rgba(255, 255, 255, .1);
}

#tabs .weather p[temperature] {
    margin: 0 1em 0 1em;
    color: grey;
}

#tabs i {
    font-size: 21px !important;
}

#tabs i[sunny] { color: #fd6697; }

#tabs i[cloudy] { color: #88d8d8; }

#panels .links {
    right: 0;
    width: 70%;
    height: 100%;
    background: #18181d;
    padding: 5%;
    flex-wrap: wrap;
}

#panels > ul:first-child .links a {
    color: #bfbfbf;
    text-decoration: none;
    font: 700 18px 'Roboto', sans-serif;
    transition: all .2s;
    display: inline-block;
    padding: .4em .7em;
    background: rgba(0, 0, 0, .35);
    box-shadow: 0 3px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, .5);
    border-radius: 2px;
    margin-bottom: .7em;
}

#panels > ul:first-child .links a:not(:last-child) { margin-right: .3em }

#panels > ul:first-child .links a:hover {
    transform: scale(1.2);
    box-shadow: 0 0 rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, .5), 0 -4px 5px rgba(0, 0, 0, .1);
    color: #fff;
}

#panels ul::after {
    content: attr(class);
    position: absolute;
    display: flex;
    text-transform: uppercase;
    overflow-wrap: break-word;
    width: 25px;
    height: 250px;
    padding: 1em;
    margin: auto;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
    left: calc(15% - 42.5px);
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    letter-spacing: 1px;
    font: 100 30px 'Nunito', sans-serif;
    text-align: center;
    flex-wrap: wrap;
    word-break: break-all;
    align-items: center;
    mix-blend-mode: overlay;
}

#panels > ul:first-child .links li:not(:last-child) {
    box-shadow: 0 1px 0 rgba(255, 255, 255, .07);
    padding: 0 0 .5em 0;
    margin-bottom: 1.5em;
}

#panels > ul:first-child .links li h1 {
    color: #383838;
    font-size: 22px;
    margin-bottom: .5em;
    font-weight: 700;
    letter-spacing: 1px;
}

#panels > ul:not(:first-child) li {
    padding: .5em;
    /* display: inline; */
}

#panels > ul:not(:first-child) li a {
    color: grey;
    font: 700 16px 'Roboto', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}

#panels > ul:not(:first-child) li a:hover {
    color: #fff;
}

#panels > ul:not(:first-child) li a:hover::before {
    display: inline;
}

#panels > ul:not(:first-child) li a::before {
    content: '> ';
    font-weight: 400;
    display: none;
}

.weather .edit {
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    text-transform: uppercase;
    font: 600 11px 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    border: 0;
    margin: 40px 0 0 0;
    cursor: pointer;
    transition: all .2s;
}

.widgets:hover .edit {
    margin: 0;
}

.weather-config {
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    margin: -100% 0 0 0;
    transition: all .2s;
    z-index: 2;
}

.weather-config input[name="color"] {
    width: 100%;
    padding: .6em;
    border: 0;
    background: 0;
    box-shadow: inset 0 -2px #fff;
    font: 500 12px 'Roboto', sans-serif;
    color: #fff;
}

.weather-config.show {
    margin: 0;
}

#search {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    top: -100%;
    transition: all .5s ease-in-out;
}

#search.active {
    top: 0;
    opacity: 1;
    visibility: visible;
}

#search div {
    position: relative;
    width: 80%;
}

#search input {
    border: 0;
    outline: 0;
    width: 100%;
    box-shadow: inset 0 -2px #737373;
    padding: .5em 0;
    background: none;
    font: 500 22px 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #fff;
}

#search input:focus {
    box-shadow: inset 0 -2px #fff;
}

#search input::selection {
    background: #000;
    color: #fff;
}

#search .close {
    background: 0;
    border: 0;
    outline: 0;
    color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 15px;
}

#search .close:hover {
    filter: opacity(.5);
}

.search-engines {
    list-style: none;
    color: #7d7d7d;
    display: block;
    display: flex;
    top: 50px;
    left: 0;
    margin: 1em 0 0 0;
}

.search-engines li p {
    cursor: default;
    transition: all .2s;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.search-engines li {
    margin: 0 1em 0 0;
}

.search-engines li.active {
    color: #fff;
    font-weight: 700;
}
