.weather-icon {
    margin-left: 1em;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-temperature {
    font: 300 9pt 'Roboto', sans-serif;
    color: #c1c1c1;
    white-space: nowrap;
}

.weather-temperature-value {
    font-weight: bold;
}

.weather-condition-icon {
    font-size: 14pt;
}

.weather-condition-icon.sunny {
    color: #fd6697;
}

.weather-condition-icon.cloudy {
    color: #88d8d8;
}
