:host {
    --done: #37eb94;
    --todo: #ff1b91;
    --bg: #0f0f12;
}

.header {
    margin: 0 0 1.5em 0;
}

.header-title {
    font-weight: 100;
    font-size: 24pt;
    color: rgba(255, 255, 255, .1);
    text-align: center;
}

.counter {
    letter-spacing: 5px;
    color: rgba(255, 255, 255, .1);
    font-size: 14px;
}

.todo-count {
    color: var(--todo);
    font-weight: bold;
}

.done-count {
    color: var(--done);
    font-weight: bold;
}

.add-task {
    position: absolute;
    top: 25px;
    left: -25px;
    outline: 0;
    border: 0;
    border-radius: 50%;
    background: linear-gradient(to bottom, #fff, #d0d0d0);
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .15), 0 0 0 11px rgba(255, 255, 255, .05);
    transition: transform .2s, box-shadow .2s ease-in-out;
}

.add-task:hover {
    box-shadow: none;
    transform: scale(1.15);
}

.add-task.active {
    transform: rotateZ(45deg);
    background: linear-gradient(to bottom, #fff, #ffcaca);
}

.add-task.active:hover {
    transform: scale(1.15) rotateZ(45deg);
}

.tasks {
    background: var(--bg);
    padding: 1em;
    box-sizing: border-box;
}

.tasks task {
    position: relative;
    width: 100%;
    padding: 1em 0 .5em 1em;
    max-height: 100px;
    min-height: 80px;
    border-radius: 2px;
    background: #18181d;
    box-shadow: inset 0 2px 0 var(--state),
                0 1px 0 0 rgba(0, 0, 0, .5),
                0 4px 0 0 #18181d,
                0 5px 0 rgba(0, 0, 0, .5),
                0 8px 0 0 #18181d;
    transition: opacity .5s cubic-bezier(0.4, 0, 1, 1),
                margin .5s cubic-bezier(0.4, 0, 1, 1),
                box-shadow .2s;
    animation: slide .4s ease-in-out;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tasks task.remove {
    margin: -100% 0 0 0 !important;
    opacity: 0;
}

.tasks task[status=todo] { --state: var(--todo); }
.tasks task[status=done] { --state: var(--done); }

.tasks task[status=done] .task-title {
    text-decoration: line-through;
    color: #ababab;
}

.task-title {
    color: #e8e8e8;
    font: 400 14px 'Roboto', sans-serif;
    max-width: 250px;
    word-wrap: break-word;
    -webkit-user-select: initial;
    font-weight: bold;
}

.tasks task:not(:last-child) {
    margin: 0 0 1.5em 0;
}

.tasks task::before {
    content: '';
    display: block;
    position: absolute;
    background: var(--bg);
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: -22px;
    width: 12px;
    height: 12px;
    box-shadow: 0 0 0 3px var(--state);
    z-index: 5;
    cursor: pointer;
    transition: transform .2s, background .2s, box-shadow .2s, color .2s;
}

.tasks task[status=done]::before {
    content: '\E876';
    position: absolute;
    color: var(--state);
    font-family: 'Material Icons';
    text-align: center;
    font-size: 11px;
    line-height: 1;
}

.tasks task::after {
    content: '';
    display: block;
    position: absolute;
    left: -16px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
    width: 1px;
    background: var(--state);
    transition: all .5s;
    opacity: .5;
}

.tasks task:hover::before {
    transform: scale(1.4);
}

.tasks task:hover::after {
    height: 0;
}

.tasks task:hover span {
    color: var(--state) !important;
}

.tasks task .added-at {
    font-size: 11px;
    letter-spacing: .5px;
    color: #929292;
    font-weight: 400;
}

.tasks task .added-at span {
    color: #fff;
    font-weight: 700 !important;
    transition: color .2s;
}

.tasks task rows {
    height: 100%;
}

.close-task {
    right: 20px;
    margin: .3em 0 0 0;
    width: 12px;
    height: 12px;
    background: none;
    outline: 0;
    border: 0;
    opacity: 0;
    cursor: pointer;
    transition: opacity .3s;
}

.close-task::before,
.close-task::after {
    content: '';
    display: block;
    width: 2px;
    height: 12px;
    background: white;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.close-task::before {
    transform: rotate(45deg);
}

.close-task::after {
    transform: rotate(-45deg);
}

.tasks task:hover .close-task {
    opacity: .5;
}

.tasks task .close-task:hover {
    opacity: 1;
    transform: scale(1.2);
}

.add-todo {
    position: absolute;
    width: 100%;
    height: 100px;
    top: -110px;
    background: #18181d;
    transition: top .5s;
    z-index: 1;
}

.add-todo input[type="text"] {
    outline: 0;
    border: 0;
    box-shadow: inset 0 0 0 2px #25252d;
    padding: .5em 1em;
    width: 70%;
    color: #fff;
    font: 400 15px 'Roboto', sans-serif;
    background: #0f0f12;
    border-radius: 40px;
    box-sizing: border-box;
}

.add-todo.active {
    top: 0;
}

.add-todo input:focus {
    box-shadow: inset 0 0 0 2px #3e3e4a;
}

.task-list {
    display: grid;
}
