.clock-time {
    white-space: nowrap;
    font: 300 9pt 'Roboto', sans-serif;
    color: #c1c1c1;
    word-spacing: -2px;
}

.clock-hours {
    font-weight: bold;
    color: white;
}

.clock-icon {
    color: #ff7b95;
    font-size: 10pt;
    margin-right: 10px;
    margin-left: 1em;
    margin-bottom: 1px;
}
