:host {
    --main-accent: #6fd468;
}

* {
    font-family: 'Roboto', sans-serif;
}

.crypto-value {
    display: flex;
    align-items: center;
}

.crypto-icon {
    margin-right: 5px;
    font-size: 9pt;
}

.crypto-price {
    white-space: nowrap;
}

.crypto-icon,
.crypto-type {
    color: var(--main-accent);
}

.crypto-type {
    font-weight: bold;
    margin-right: 10px;
    font-size: 7pt;
}

.crypto-value {
    font-weight: 400;
    font-size: 9pt;
    color: #c1c1c1;
    white-space: nowrap;
}

.currency-symbol {
    color: #848484;
}

crypto-diff {
    margin-left: 5px;
}
